<!-- about-banner ------- -->
<div class="apponintment-banner pb-5">
    <div class="container-fluid about-bg py-5">
        <div class="container py-5">
            <div class="row">
                <div class="d-flex align-items-center justify-content-center">
                    <p class="display-3 fw-600 text-capitalize text-white">our course</p>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html" class="text-decoration-none link-light">Home</a></li>
                        <li class="breadcrumb-item"><a href="about.html" class="text-decoration-none link-light">about</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-decoration-none text-warning">course</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- about-banner--end-- --- -->
<!-- --------courses--start---------------- -->
<div class="py-5">
    <div class="container-fluid py-5">
        <div class="container pb-5">
            <div class="row mb-5" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                <div class="col-lg-7 text-lg-center m-auto">
                    <h6 class="text-uppercase fw-600 text-warning"> TRANDING COURSES </h6>
                    <h1 class="text-capitalize fw-bold"> Our Courses Upskill You With Driving Training </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-5 mt-lg-0" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                    <div class="card course-item border-0 shadow-sm bg-light">
                        <div class="course-img position-relative">
                            <img class="card-img-top w-100 rounded-top-3" src="assets/images/courses-1.jpg" alt="courses-1">
                            <div class="course-overlay position-absolute d-flex justify-content-center align-items-center">
                                <a href="index.html" target="_blank" class="font-10 px-3 py-3 rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none"><i class="fa-solid fa-book"> &nbsp; &nbsp;</i>read more</a>
                            </div>
                        </div>
                        <div class="card-body text-center pt-1 mb-3">
                            <h4 class="card-title mt-3 fw-600 h5">Automatic Car Lessons</h4>
                            <p class="card-text text-light2">Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                            <div aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center text-light2 mb-4">
                                    <li class=" breadcrumb-item small">
                                        <i class="fa fa-signal text-warning"></i> Beginner
                                    </li>
                                    <li class="breadcrumb-item small">
                                        <i class="fa-regular text-warning fa-calendar-days"></i> Week
                                    </li>
                                </ol>
                            </div>
                            <a href="checkout.html" target="_blank" class="text-decoration-none transparent text d-inline py-2 px-4 rounded-2 fs-5">&#8377; 499</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="250">
                    <div class="card course-item border-0 bg-light">
                        <div class="course-img position-relative">
                            <img class="card-img-top w-100 rounded-top-3" src="assets/images/courses-2.jpg" alt="courses-2">
                            <div class="course-overlay position-absolute d-flex justify-content-center align-items-center">
                                <a href="index.html" target="_blank" class="font-10 px-3 py-3 rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none"><i class="fa-solid fa-book"> &nbsp; &nbsp;</i>read more</a>
                            </div>
                        </div>
                        <div class="card-body text-center pt-1 mb-3">
                            <h4 class="card-title mt-3 fw-600 h5">Highway Driving Lesson</h4>
                            <p class="card-text text-light2">Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                            <div aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center text-light2 mb-4">
                                    <li class=" breadcrumb-item small">
                                        <i class="fa fa-signal text-warning"></i> Beginner
                                    </li>
                                    <li class="breadcrumb-item small">
                                        <i class="fa-regular text-warning fa-calendar-days"></i> Week
                                    </li>
                                </ol>
                                <a href="checkout.html" target="_blank" class="text-decoration-none transparent text d-inline py-2 px-4 fs-5 rounded-2">&#8377; 799</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mt-lg-0" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="350">
                    <div class="card course-item border-0 bg-light">
                        <div class="course-img position-relative">
                            <img class="card-img-top w-100 rounded-top-3" src="assets/images/courses-3.jpg" alt="courses-3">
                            <div class="course-overlay position-absolute d-flex justify-content-center align-items-center">
                                <a href="index.html" target="_blank" class=" font-10 px-3 py-3 rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none"><i class="fa-solid fa-book"> &nbsp; &nbsp;</i>read more</a>
                            </div>
                        </div>
                        <div class="card-body text-center pt-1 mb-3">
                            <h4 class="card-title mt-3 fw-600 h5">International Driving</h4>
                            <p class="card-text text-light2">Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                            <div aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center text-light2 mb-4">
                                    <li class=" breadcrumb-item small">
                                        <i class="fa fa-signal text-warning"></i> Beginner
                                    </li>
                                    <li class="breadcrumb-item small">
                                        <i class="fa-regular text-warning fa-calendar-days"></i> Week
                                    </li>
                                </ol>
                                <a href="checkout.html" target="_blank" class="text-decoration-none transparent text d-inline py-2 px-4 fs-5 rounded-2">&#8377; 999</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------course--end---------------- -->