<main>
    <div class="whatsapp">
        <a href="https://wa.me/917532046645?text=hello%20%2C%20thanks%20for%20coming%20to%20DRiVO." target="_blank"> <img src="assets/images/whatsapp.png" alt="whatsapp" class="position-fixed z-index-20 bottom-0 ms-4 mb-4" style="width: 3rem;"></a>
    </div>
    <div class="top"> <a href="#"><i class="fa fa-angles-up bg-warning fs-4 btn p-2 text-decoration-none text-white"></i></a></div>
    <!-- banner carousel------- -->
    <div class="banner">
        <div class="container-fluid">
            <div class="row">
                <div id="carouselExampleControls" class="carousel slide p-0" data-bs-ride="carousel">
                    <div class="carousel-inner m-0 p-0">
                        <div class="carousel-item active">
                            <img src="assets/images/carousel-1.jpg" class="d-block w-100" alt="carousel-1">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-7" data-aos-once="true" data-aos="fade-up">
                                            <h1 class="display-4 display-lg-2 fw-bold text-capitalize ">Learn To Drive With Confidence</h1>
                                            <div class="d-flex justify-content-center mt-5 gap-5">
                                                <a href="#courses" class="text-decoration-none px-3 py-2 px-md-5 py-md-4 border-0  text transparent text-capitalize">our courses</a>
                                                <a href="#choose" class="text-decoration-none px-3 py-2 px-md-5 py-md-4 border-0  text transparent2 text-capitalize">learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/carousel-2.jpg" class="d-block w-100" alt="carousel-2">
                            <div class="carousel-caption">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-7">
                                            <h1 class="display-4 display-lg-2 fw-bold text-capitalize ">Safe Driving Is Our Top Priority</h1>
                                            <div class="d-flex justify-content-center mt-5 gap-5">
                                                <a href="#courses" class="text-decoration-none px-3 py-2 px-md-5 py-md-4 border-0  text transparent text-capitalize">our courses</a>
                                                <a href="#choose" class="text-decoration-none px-3 py-2 px-md-5 py-md-4 border-0  text transparent2 text-capitalize">learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class=" bg-warning" style="padding:7%;" aria-hidden="true"><i class="fa-solid fa-angles-left fa-2x"></i></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="bg-warning" style="padding:7%;" aria-hidden="true"><i class="fa-solid fa-angles-right fa-2x"></i></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- banner carousel--end-- --- -->
    <!-- ------------------------------------facts start---------------- -->
    <div class="container-fliud">
        <div class="container">
            <div class="row g-0 fact pt-5 pt-md-0 mt-5 mt-md-0">
                <div class="col-12 col-md-4" data-aos-once="false" data-aos="fade" data-aos-easing="ease">
                    <div class="d-flex py-4 px-3 shadow bg-white">
                        <p class=""><i class="fa-solid m-0 fa-car text-bg-warning text-white p-3 me-4"></i></p>
                        <div class="m-0">
                            <p class="h5 mb-2 fw-600"> Easy Driving Learn</p>
                            <span class="text-light2"> Clita erat ipsum lorem sit sed stet duo justo erat amet</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-aos-once="false" data-aos="fade" data-aos-delay="150" data-aos-easing="ease">
                    <div class="d-flex py-4 px-3 shadow bg-white">
                        <p class=""><i class="fa m-0 fa-people-group text-bg-warning text-white p-3 me-4"></i></p>
                        <div class="m-0">
                            <p class="h5 mb-2 fw-600"> National Instructor</p>
                            <span class="text-light2"> Clita erat ipsum lorem sit sed stet duo justo erat amet</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4" data-aos-once="false" data-aos="fade" data-aos-delay="250" data-aos-easing="ease">
                    <div class="d-flex py-4 px-3 shadow bg-white">
                        <p class=""><i class="fa-solid m-0 fa-file-alt text-bg-warning text-white p-3 me-4"></i></p>
                        <div class="m-0">
                            <p class="h5 mb-2 fw-600"> Get licence</p>
                            <span class="text-light2"> Clita erat ipsum lorem sit sed stet duo justo erat amet</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ------------------------------------facts end---------------- -->
    <!-- --------about start---------------- -->
    <div class="about mb-5">
        <div class="container-fluid">
            <div class="container">
                <div class="row gx-5 flex-wrap">
                    <div class="col-lg-6 position-relative pt-5 ps-5 overflow-hidden" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                        <img src="assets/images/about-1.jpg" alt="about-1" class="w-100">
                        <img src="assets/images/about-2.jpg" alt="about-2" class="position-absolute top-0 start-0 bg-white p-3">
                    </div>
                    <div class="col-lg-6 mt-5 mt-md-0" data-aos-once="false" data-aos="fade-up" data-aos-delay="250">
                        <h6 class="h6 text-uppercase text-warning fw-600"> about us </h6>
                        <h1 class="text-capitalize fw-bolder display-6"> We Help Students To Pass Test & Get A License On The First Try </h1>
                        <p class="text-light2 mt-4">
                            Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                        </p>
                        <p class="text-light2">
                            Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                        </p>
                        <div class="row mt-5">
                            <div class="col-6 d-flex"><i class="fa fa-check text-warning me-2 fs-4"></i>
                                <p class="text-light2 text-capitalize">Fully Licensed</p>
                            </div>
                            <div class="col-6 d-flex"><i class="fa fa-check text-warning me-2 fs-4"></i>
                                <p class="text-light2 text-capitalize">Online Tracking</p>
                            </div>
                            <div class="col-6 d-flex"><i class="fa fa-check text-warning me-2 fs-4"></i>
                                <p class="text-light2 text-capitalize">Afordable Fee</p>
                            </div>
                            <div class="col-6 d-flex"><i class="fa fa-check text-warning me-2 fs-4"></i>
                                <p class="text-light2 text-capitalize">Best Trainers</p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-6 position-relative"><a href="about.html" class="fw-600 position-absolute text-decoration-none font-10 px-4 py-2 px-md-5 py-md-3 border-0 text transparent text-capitalize">read more</a></div>
                            <div class="col-6"><a href="tel:+917532046645" target="_blank" class="fw-600 font-10 px-3 py-2 py-md-3 rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none"><i class="fa fa-phone-alt"> &nbsp; &nbsp;</i>+91 75320 46645</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- --------about--end---------------- -->
    <!-- --------courses--start---------------- -->
    <div id="courses"></div>
    <div class="course position-relative">
        <div class="container-fluid">
            <div class="container pb-5">
                <div class="row mb-5" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                    <div class="col-lg-7 text-lg-center m-auto">
                        <h6 class="text-uppercase fw-600 text-warning"> TRANDING COURSES </h6>
                        <h1 class="text-capitalize fw-bold"> Our Courses Upskill You With Driving Training </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt-5 mt-lg-0" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                        <div class="card course-item border-0 bg-white">
                            <div class="course-img position-relative">
                                <img class="card-img-bottom w-100" src="assets/images/courses-1.jpg" alt="courses-1">
                                <div class="course-overlay position-absolute d-flex justify-content-center align-items-center">
                                    <a href="index.html" target="_blank" class="font-10 px-3 py-3 rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none"><i class="fa-solid fa-book"> &nbsp; &nbsp;</i>read more</a>
                                </div>
                            </div>
                            <div class="card-body text-center pt-1 mb-3">
                                <h4 class="card-title mt-3 fw-600 h5">Automatic Car Lessons</h4>
                                <p class="card-text text-light2">Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                                <div aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center text-light2 mb-4">
                                        <li class=" breadcrumb-item small">
                                            <i class="fa fa-signal text-warning"></i> Beginner
                                        </li>
                                        <li class="breadcrumb-item small">
                                            <i class="fa-regular text-warning fa-calendar-days"></i> Week
                                        </li>
                                    </ol>
                                </div>
                                <a href="javascript:void(0);" routerLink="/checkout" target="_blank" class="text-decoration-none transparent text d-inline py-2 px-4 rounded-2 fs-5">&#8377; 499</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5 mt-lg-0" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="250">
                        <div class="card course-item border-0 bg-white">
                            <div class="course-img position-relative">
                                <img class="card-img-bottom w-100" src="assets/images/courses-2.jpg" alt="courses-2">
                                <div class="course-overlay position-absolute d-flex justify-content-center align-items-center">
                                    <a href="index.html" target="_blank" class="font-10 px-3 py-3 rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none"><i class="fa-solid fa-book"> &nbsp; &nbsp;</i>read more</a>
                                </div>
                            </div>
                            <div class="card-body text-center pt-1 mb-3">
                                <h4 class="card-title mt-3 fw-600 h5">Highway Driving Lesson</h4>
                                <p class="card-text text-light2">Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                                <div aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center text-light2 mb-4">
                                        <li class=" breadcrumb-item small">
                                            <i class="fa fa-signal text-warning"></i> Beginner
                                        </li>
                                        <li class="breadcrumb-item small">
                                            <i class="fa-regular text-warning fa-calendar-days"></i> Week
                                        </li>
                                    </ol>
                                    <a href="javascript:void(0);" routerLink="/checkout" target="_blank" class="text-decoration-none transparent text d-inline py-2 px-4 fs-5 rounded-2">&#8377; 799</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5 mt-lg-0" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="350">
                        <div class="card course-item border-0 bg-white">
                            <div class="course-img position-relative">
                                <img class="card-img-bottom w-100" src="assets/images/courses-3.jpg" alt="courses-3">
                                <div class="course-overlay position-absolute d-flex justify-content-center align-items-center">
                                    <a href="index.html" target="_blank" class=" font-10 px-3 py-3 rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none"><i class="fa-solid fa-book"> &nbsp; &nbsp;</i>read more</a>
                                </div>
                            </div>
                            <div class="card-body text-center pt-1 mb-3">
                                <h4 class="card-title mt-3 fw-600 h5">International Driving</h4>
                                <p class="card-text text-light2">Tempor erat elitr rebum at clita dolor diam ipsum sit diam amet diam et eos</p>
                                <div aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center text-light2 mb-4">
                                        <li class=" breadcrumb-item small">
                                            <i class="fa fa-signal text-warning"></i> Beginner
                                        </li>
                                        <li class="breadcrumb-item small">
                                            <i class="fa-regular text-warning fa-calendar-days"></i> Week
                                        </li>
                                    </ol>
                                    <a href="javascript:void(0);" routerLink="/checkout" target="_blank" class="text-decoration-none transparent text d-inline py-2 px-4 fs-5 rounded-2">&#8377; 999</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="appoint mt-5 py-md-5" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                <div class="container">
                    <div class="row">
                        <div class="m-auto col-lg-8">
                            <form action="" target="_blank" method="get" [formGroup]="reactiveForm" (ngSubmit)="reactSubmit()" class="p-5 pt-3 pt-md-5 bg-warning">
                                <div class="col">
                                    <p class="text-center display-5 fw-600 text-capitalize text-dark mt-4 pb-3"> make Appointment</p>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12 col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput" formControlName="floatingInput" placeholder="name@example.com" required>
                                            <label class="text-capitalize text-muted" for="floatingInput">your name</label>
                                            <div class="alert alert-danger text-capitalize" *ngIf="f['floatingInput'].touched && f['floatingInput'].invalid">
                                                <p *ngIf="f['floatingInput'].errors && f['floatingInput'].errors['required']"> *please add some value here </p>
                                                <p *ngIf="f['floatingInput'].errors && f['floatingInput'].errors['minlength']"> *please add minimum 6 letters </p>
                                                <p *ngIf="f['floatingInput'].errors && f['floatingInput'].errors['pattern']"> *invalid pattern </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-2 mb-lg-0">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="floatingPassword" placeholder="Password" formControlName="floatingPassword">
                                            <label class="text-capitalize text-muted" for="floatingPassword">your email</label>
                                            <div class="alert alert-danger text-capitalize" *ngIf="f['floatingPassword'].touched && f['floatingPassword'].invalid">
                                                <p *ngIf="f['floatingPassword'].errors && f['floatingPassword'].errors['required']"> *please add some value here </p>
                                                <p *ngIf="f['floatingPassword'].errors && f['floatingPassword'].errors['minlength']"> *please add minimum 6 letters </p>
                                                <p *ngIf="f['floatingPassword'].errors && f['floatingPassword'].errors['pattern']"> *invalid pattern </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 ">
                                    <div class="col-12 col-md-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" #floatingInput1 id="floatingInput" placeholder="name@example.com" formControlName="floatingInput1">
                                            <label class="text-capitalize text-muted" for="floatingInput">car type</label>
                                            <div class="alert alert-danger text-capitalize" *ngIf="f['floatingInput1'].touched && f['floatingInput1'].invalid">
                                                <p *ngIf="f['floatingInput1'].errors && f['floatingInput1'].errors['required']"> *please add some value here </p>
                                                <p *ngIf="f['floatingInput1'].errors && f['floatingInput1'].errors['minlength']"> *please add minimum 6 letters </p>
                                                <p *ngIf="f['floatingInput1'].errors && f['floatingInput1'].errors['pattern']"> *invalid pattern </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-2 mb-lg-0">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" #floatingPassword1 id="floatingPassword" placeholder="Password" formControlName="floatingPassword1">
                                            <label class="text-capitalize text-muted" for="floatingPassword">course type</label>
                                            <div class="alert alert-danger text-capitalize" *ngIf="f['floatingPassword1'].touched && f['floatingPassword1'].invalid">
                                                <p *ngIf="f['floatingPassword1'].errors && f['floatingPassword1'].errors['required']"> *please add some value here </p>
                                                <p *ngIf="f['floatingPassword1'].errors && f['floatingPassword1'].errors['minlength']"> *please add minimum 6 letters </p>
                                                <p *ngIf="f['floatingPassword1'].errors && f['floatingPassword1'].errors['pattern']"> *invalid pattern </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col">
                                        <div class="form-floating">
                                            <textarea class="form-control h-100" placeholder="Leave a comment here" id="floatingTextarea" formControlName="floatingTextarea" cols="25" rows="5"></textarea>
                                            <label class="text-capitalize text-muted" for="floatingTextarea">message</label>
                                            <div class="alert alert-danger text-capitalize" *ngIf="f['floatingTextarea'].touched && f['floatingTextarea'].invalid">
                                                <p *ngIf="f['floatingTextarea'].errors && f['floatingTextarea'].errors['required']"> *please add some value here </p>
                                                <p *ngIf="f['floatingTextarea'].errors && f['floatingTextarea'].errors['minlength']"> *please add minimum 6 letters </p>
                                                <p *ngIf="f['floatingTextarea'].errors && f['floatingTextarea'].errors['pattern']"> *invalid pattern </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-0 mt-3">
                                    <div class="col p-0 g-3">
                                        <input type="submit" [disabled]="!reactiveForm.valid" class="btn btn-dark py-3 w-100 text-capitalize" value="get Appointment">
                                    </div>
                                </div>
                                <div id="choose" class="visiblity-hidden"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="course-bg position-absolute"></div>
    </div>
    <!-- --------courses--end---------------- -->
    <!-- --------why choose--start---------------- -->
    <div class="about mb-5 pb-5">
        <div class="container-fluid">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-6 mt-5 mt-md-0 position-relative pt-5 overflow-hidden" data-aos-delay="250">
                        <img src="assets/images/about-1.jpg" alt="about-1" class="w-100 h-100">
                        <img src="assets/images/about-2.jpg" alt="about-2" class="position-absolute top-0 end-0 bg-white p-3" style>
                    </div>
                    <div class="col-lg-6 order-first">
                        <h6 class="text-uppercase text-warning fw-600"> why choose us! </h6>
                        <h1 class="text-capitalize fw-bold">Best Driving Training Agency In Your City</h1>
                        <p class="mt-4 text-muted"> Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet </p>
                        <div class="row gy-5 gx-4">
                            <div class="col-6">
                                <div class="d-flex mb-3 mt-4"><i class="fa fa-solid fa-arrows-turn-right text-white bg-warning p-2 me-2 fs-5 "></i>
                                    <p class="fw-600 text-capitalize m-0 align-items-center fs-4">Fully Licensed</p>
                                </div>
                                <p class="text-muted">Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</p>
                            </div>
                            <div class="col-6">
                                <div class="d-flex mb-3 mt-4"><i class="fa fa-solid fa-arrows-turn-right text-white bg-warning p-2 me-2 fs-5 "></i>
                                    <p class="fw-600 text-capitalize m-0 align-items-center fs-4">Online Tracking</p>
                                </div>
                                <p class="text-muted">Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</p>
                            </div>
                            <div class="col-6">
                                <div class="d-flex mb-3"><i class="fa fa-solid fa-arrows-turn-right text-white bg-warning p-2 me-2 fs-5 "></i>
                                    <p class="fw-600 text-capitalize m-0 align-items-center fs-4">Best Trainers</p>
                                </div>
                                <p class="text-muted">Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</p>
                            </div>
                            <div class="col-6">
                                <div class="d-flex mb-3"><i class="fa fa-solid fa-arrows-turn-right text-white bg-warning p-2 me-2 fs-5 "></i>
                                    <p class="fw-600 text-capitalize m-0 align-items-center fs-4">Afordable Fee</p>
                                </div>
                                <p class="text-muted">Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- --------why choose--end---------------- -->
    <!-- --------meet the team starts---------------- -->
    <div class="meet-team py-5">
        <div class="container-fluid">
            <div class="container">
                <div class="row mb-5" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                    <div class="col-lg-7 text-lg-center m-auto">
                        <h6 class="text-uppercase fw-600 text-warning"> meet the team </h6>
                        <h1 class="text-capitalize fw-bold">We Have Great Experience Of Driving</h1>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6" data-aos-once="false" data-aos="fade-up" data-aos-delay="50">
                        <div class="trainer text-center border-run">
                            <div class="position-relative">
                                <img class="img-fluid" src="assets/images/team-1.jpg" alt="trainer">
                                <div class="position-absolute trainer-bg">
                                    <div class="z-index-20 justify-content-center align-items-center d-flex top-50 position-relative gap-2">
                                        <a href="https://www.facebook.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-facebook-f">&nbsp;</i></a>
                                        <a href="https://www.twitter.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-twitter"></i></a>
                                        <a href="https://www.linkedin.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 bg-light">
                                <div class="text-uppercase h5 m-0">andrews</div>
                                <span class="text-muted">trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos-once="false" data-aos="fade-up" data-aos-delay="150">
                        <div class="trainer text-center border-run">
                            <div class="position-relative">
                                <img class="img-fluid" src="assets/images/team-2.jpg" alt="trainer">
                                <div class="position-absolute trainer-bg">
                                    <div class="z-index-20 justify-content-center align-items-center d-flex top-50 position-relative gap-2">
                                        <a href="https://www.facebook.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-facebook-f">&nbsp;</i></a>
                                        <a href="https://www.twitter.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-twitter"></i></a>
                                        <a href="https://www.linkedin.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 bg-light">
                                <div class="text-uppercase h5 m-0">jackskiu</div>
                                <span class="text-muted">trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos-once="false" data-aos="fade-up" data-aos-delay="250">
                        <div class="trainer text-center border-run">
                            <div class="position-relative">
                                <img class="img-fluid" src="assets/images/team-3.jpg" alt="trainer">
                                <div class="position-absolute trainer-bg">
                                    <div class="z-index-20 justify-content-center align-items-center d-flex top-50 position-relative gap-2">
                                        <a href="https://www.facebook.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-facebook-f">&nbsp;</i></a>
                                        <a href="https://www.twitter.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-twitter"></i></a>
                                        <a href="https://www.linkedin.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 bg-light">
                                <div class="text-uppercase h5 m-0">henky</div>
                                <span class="text-muted">trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" data-aos-once="false" data-aos="fade-up" data-aos-delay="300">
                        <div class="trainer text-center border-run">
                            <div class="position-relative">
                                <img class="img-fluid" src="assets/images/team-4.jpg" alt="trainer">
                                <div class="position-absolute trainer-bg">
                                    <div class="z-index-20 justify-content-center align-items-center d-flex top-50 position-relative gap-2">
                                        <a href="https://www.facebook.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-facebook-f">&nbsp;</i></a>
                                        <a href="https://www.twitter.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-twitter"></i></a>
                                        <a href="https://www.linkedin.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 bg-light">
                                <div class="text-uppercase h5 m-0">sinula</div>
                                <span class="text-muted">trainer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- --------mmet the team ends---------------- -->
    <!-- --------TESTIMONIAL starts---------------- -->
    <div class="testimonial py-5 mt-5" data-aos-once="false" data-aos="fade-up">
        <div class="container-fluid">
            <div class="container">
                <div class="row mb-5" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                    <div class="col-lg-8 text-center m-auto">
                        <h6 class="text-uppercase fw-600 text-warning">TESTIMONIAL</h6>
                        <h1 class="text-capitalize fw-bold">What Our Clients Say!</h1>
                    </div>
                </div>
                <owl-carousel-o [options]="customOptions" class="owl-one owl-carousel carousel-theme">
                    <ng-template class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="position-relative mb-5 text-center">
                                <img src="assets/images/testimonial-1.jpg" alt="testimonial" class="rounded-circle m-auto">
                                <div class="position-absolute start-50 translate-middle">
                                    <i class="rounded-circle bg-white fa-solid fa-quote-left fa-2x p-3 shadow-sm text-warning"></i>
                                </div>
                            </div>
                            <p class="text-center fs-4 text-muted">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                            <hr class="w-25 m-auto">
                            <p class="mt-3 text-center fw-bold h3 text-capitalize">alice</p>
                            <p class="text-center text-bold text-capitalize">Business-man</p>
                        </div>
                    </ng-template>
                    <ng-template class="row justify-content-center align-items-center">
                        <div class="col-lg-8">
                            <div class="position-relative mb-5 text-center">
                                <img src="assets/images/testimonial-2.jpg" alt="testimonial" class="rounded-circle m-auto">
                                <div class="position-absolute start-50  translate-middle">
                                    <i class="rounded-circle bg-white fa-solid fa-quote-left fa-2x p-3 shadow-sm text-warning"></i>
                                </div>
                            </div>
                            <p class="text-center fs-4 text-muted">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                            <hr class="w-25 m-auto">
                            <p class="mt-3 text-center fw-bold h3 text-capitalize">bromie</p>
                            <p class="text-center text-bold text-capitalize">cab-driver</p>
                        </div>
                    </ng-template>
                    <ng-template class="row justify-content-center align-items-center">
                        <div class="col-lg-8">
                            <div class="position-relative mb-5 text-center">
                                <img src="assets/images/testimonial-3.jpg" alt="testimonial" class="rounded-circle m-auto">
                                <div class="position-absolute start-50  translate-middle">
                                    <i class="rounded-circle bg-white fa-solid fa-quote-left fa-2x p-3 shadow-sm text-warning"></i>
                                </div>
                            </div>
                            <p class="text-center fs-4 text-muted">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                            <hr class="w-25 m-auto">
                            <p class="mt-3 text-center fw-bold h3 text-capitalize">vinsia</p>
                            <p class="text-center text-bold text-capitalize">Pharmacist</p>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <!-- --------TESTIMONIAL ends---------------- -->

</main>