<!-- testimonial-banner ------- -->
<div class="testimonial-banner pb-5">
    <div class="container-fluid about-bg py-5">
        <div class="container py-5">
            <div class="row">
                <div class="d-flex align-items-center justify-content-center">
                    <p class="display-3 fw-600 text-capitalize text-white">testimonial</p>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html" class="text-decoration-none link-light">Home</a></li>
                        <li class="breadcrumb-item"><a href="course.html" class="text-decoration-none link-light">Courses</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-decoration-none text-warning">testimonial</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- testimonial-banner--end-- --- -->
<!-- --------TESTIMONIAL starts---------------- -->
<div class="testimonial py-5 mt-5" data-aos-once="false" data-aos="fade-up">
    <div class="container-fluid">
        <div class="container">
            <div class="row mb-5" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                <div class="col-lg-8 text-center m-auto">
                    <h6 class="text-uppercase fw-600 text-warning">TESTIMONIAL</h6>
                    <h1 class="text-capitalize fw-bold">What Our Clients Say!</h1>
                </div>
            </div>
            <div class="owl-one owl-carousel carousel-theme">
                <div class="row justify-content-center">
                    <div class=" col-lg-8">
                        <div class="position-relative mb-5 text-center">
                            <img src="assets/images/testimonial-1.jpg" alt="testimonial" class="rounded-circle m-auto">
                            <div class="position-absolute start-50 translate-middle">
                                <i class="rounded-circle bg-white fa-solid fa-quote-left fa-2x p-3 shadow-sm text-warning"></i>
                            </div>
                        </div>
                        <p class="text-center fs-4 text-muted">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <hr class="w-25 m-auto">
                        <p class="mt-3 text-center fw-bold h3 text-capitalize">alice</p>
                        <p class="text-center text-bold text-capitalize">Business-man</p>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class=" col-lg-8">
                        <div class="position-relative mb-5 text-center">
                            <img src="assets/images/testimonial-2.jpg" alt="testimonial" class="rounded-circle m-auto">
                            <div class="position-absolute start-50  translate-middle">
                                <i class="rounded-circle bg-white fa-solid fa-quote-left fa-2x p-3 shadow-sm text-warning"></i>
                            </div>
                        </div>
                        <p class="text-center fs-4 text-muted">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <hr class="w-25 m-auto">
                        <p class="mt-3 text-center fw-bold h3 text-capitalize"> bromie</p>
                        <p class="text-center text-bold text-capitalize">cab-driver</p>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class=" col-lg-8">
                        <div class="position-relative mb-5 text-center">
                            <img src="assets/images/testimonial-3.jpg" alt="testimonial" class="rounded-circle m-auto">
                            <div class="position-absolute start-50  translate-middle">
                                <i class="rounded-circle bg-white fa-solid fa-quote-left fa-2x p-3 shadow-sm text-warning"></i>
                            </div>
                        </div>
                        <p class="text-center fs-4 text-muted">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <hr class="w-25 m-auto">
                        <p class="mt-3 text-center fw-bold h3 text-capitalize">vinsia</p>
                        <p class="text-center text-bold text-capitalize">Pharmacist</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------TESTIMONIAL ends---------------- -->