<!-- about-banner ------- -->
<div class="about-banner pb-5">
    <div class="container-fluid about-bg py-5">
        <div class="container py-5">
            <div class="row">
                <div class="d-flex align-items-center justify-content-center">
                    <p class="display-3 fw-600 text-capitalize text-white">features</p>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html" class="text-decoration-none link-light">Home</a></li>
                        <li class="breadcrumb-item"><a href="course.html" class="text-decoration-none link-light">Courses</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-decoration-none text-warning">feature</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- about-banner--end-- --- -->
<!-- --------why choose--start---------------- -->
<div class="about mb-5 py-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mt-5 mt-md-0 position-relative pt-5 overflow-hidden" data-aos-once="false" data-aos="fade-up" data-aos-delay="250">
                    <img src="assets/images/about-1.jpg" alt="about-1" class="w-100 h-100">
                    <img src="assets/images/about-2.jpg" alt="about-2" class="position-absolute top-0 end-0 bg-white p-3" style>
                </div>
                <div class="col-lg-6 order-first" data-aos-once="false" data-aos="fade-up">
                    <h6 class="text-uppercase text-warning fw-600"> why choose us! </h6>
                    <h1 class="text-capitalize fw-bold">Best Driving Training Agency In Your City</h1>
                    <p class="mt-4 text-muted"> Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet </p>
                    <div class="row gy-5 gx-4">
                        <div class="col-6">
                            <div class="d-flex mb-3 mt-4"><i class="fa fa-solid fa-arrows-turn-right text-white bg-warning p-2 me-2 fs-5 "></i>
                                <p class="fw-600 text-capitalize m-0 align-items-center fs-4">Fully Licensed</p>
                            </div>
                            <p class="text-muted">Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</p>
                        </div>
                        <div class="col-6">
                            <div class="d-flex mb-3 mt-4"><i class="fa fa-solid fa-arrows-turn-right text-white bg-warning p-2 me-2 fs-5 "></i>
                                <p class="fw-600 text-capitalize m-0 align-items-center fs-4">Online Tracking</p>
                            </div>
                            <p class="text-muted">Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</p>
                        </div>
                        <div class="col-6">
                            <div class="d-flex mb-3"><i class="fa fa-solid fa-arrows-turn-right text-white bg-warning p-2 me-2 fs-5 "></i>
                                <p class="fw-600 text-capitalize m-0 align-items-center fs-4">Best Trainers</p>
                            </div>
                            <p class="text-muted">Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</p>
                        </div>
                        <div class="col-6">
                            <div class="d-flex mb-3"><i class="fa fa-solid fa-arrows-turn-right text-white bg-warning p-2 me-2 fs-5 "></i>
                                <p class="fw-600 text-capitalize m-0 align-items-center fs-4">
                                    Afordable Fee</p>
                            </div>
                            <p class="text-muted">Magna sea eos sit dolor, ipsum amet ipsum lorem diam eos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------why choose--end---------------- -->