<div class="response mt-5 px-3 px-md-0">
    <div class="container pt-5">
        <div class="row pt-5">
            <div class="col- col-lg-6 border-1 border-warning border shadow-lg p-3 p-md-5 m-auto text-center">
                <div class="h3 text-uppercase">congratulations</div>
                <div class="text-capitalize d-flex align-items-center justify-content-center"><i class="fa-solid text-warning fa-hand-holding-heart fa-2x"></i> &nbsp; &nbsp; your record has been submitted successfully.</div>
            </div>
        </div>
    </div>
</div>