@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

/* font-family: 'Work Sans', sans-serif; */
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
    padding: 0 !important;
    overflow-y: visible !important;
}

a,
p,
div,
li {
    font-family: 'Work Sans', sans-serif;
}

.opacity1:hover {
    opacity: .5;
}

.text-light2 {
    color: #757575;
}

.navbar-nav .nav-link.active {
    color: #ffbf00;
}

.text:hover {
    color: #ffbf00;
}

.pointer:hover {
    cursor: pointer;
}

.fw-600 {
    font-weight: 600;
}

.fw-300 {
    font-weight: 300;
}

.transparent {
    background: #ffbf00;
    color: white;
    transition: .5s ease;
    cursor: pointer;
}

.transparent:hover {
    background: transparent;
    color: #ffbf00;
    box-shadow: inset 2px 3px 8px #ffbf00, -2px -3px 8px #ffbf00 inset;
}

.transparent2 {
    background: #fff;
    color: #000;
    transition: .5s ease;
}

.transparent2:hover {
    background: transparent;
    color: #fff;
    box-shadow: inset 2px 3px 8px #ffbf00, -2px -3px 8px #ffbf00 inset;
}



.border-6 {
    transition: .5s ease;
    box-shadow: inset 2px 3px 5px #ffbf00, -2px -3px 5px #ffbf00 inset;
}

.border-6:hover {
    color: #fff;
}

.z-index-20 {
    z-index: 20;
}



.login-logo img {
    height: 170px;
}

.spin-not {
    opacity: 0;
    visibility: hidden;
}

nav.sticky {
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 100;
    transition: all .5s ease;
    background-color: #fff;
    animation: moon .5s linear;
}

@keyframes moon {
    0% {
        transform: translateY(-150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .55);
    z-index: 1;
}

.fact {
    position: relative;
    top: -75px;
    z-index: 2;
}

/* --------------------------------------------------------------------------------course ------------------------------------------------*********** */
.course {
    background-image: url(../images/carousel-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0 0 0;
    margin: 150px 0;
    z-index: 5;
}

.course-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .85;
    background-color: #fff;
    z-index: -2;
}

.course-overlay {
    background-color: #00000070;
    opacity: 1;
    width: 100%;
    height: 0%;
    overflow: hidden;
    right: 0;
    left: 0;
    bottom: 100%;
    transition: .5s ease;
}

.course-item:hover .course-overlay {
    bottom: 0;
    height: 100%;
}

.appoint-submit-model .modal-backdrop {
    z-index: auto;
}

.top.stick {
    right: 4%;
    bottom: 4%;
    z-index: 10;
    display: inline-block;
    position: fixed;
    animation: top 400ms linear;
}

@keyframes top {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* meet the team */

.trainer-bg {
    background-color: rgba(0, 0, 0, 0.78);
    width: 100%;
    height: 0%;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
    bottom: 100%;
    transition: .5s ease;
}

.trainer:hover .trainer-bg {
    bottom: 0;
    opacity: 1;
    height: 100%;
}

.border-run {
    position: relative;
}

.border-run:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    box-sizing: border-box;
}

.border-run:hover:after {
    height: 100%;
    width: 100%;
    border: 8px solid #ffbf00;
    border-right: none;
    border-top: none;
    transition: height 210ms linear, width 210ms linear 210ms;
}

.border-run:before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    box-sizing: border-box;
    z-index: 1;
}

.border-run:hover:before {
    height: 100%;
    width: 100%;
    border: 8px solid #ffbf00;
    border-left: none;
    border-bottom: none;
    transition: height 210ms linear, width 210ms linear 210ms;
}

/* testimonial */
.carousel-theme .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot,
.carousel-theme .owl-dot {
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #ffbf00;
    transition: .5s;
    animation-delay: 10s;
}

.carousel-theme .owl-dot.active {
    width: 40px;
    height: 40px;
    background: #ffbf00;
}

.carousel-theme .owl-item img {
    width: 150px;
    height: 150px;
}

/* footer */
footer {
    background-color: #0c2b4b;
}

.link-footer {
    color: #fff;
    transition: .3s all ease;
}

.link-footer:hover {
    color: #ffbf00;
    letter-spacing: 1.5px;
}

.bottom-bar {
    background-color: #092139;
}

/* about-banner- */
.about-bg {
    background: radial-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .65)), url(../images/carousel-2.jpg) no-repeat;
    background-size: cover;
    background-position: 20%;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .font-10 {
        font-size: 10px;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) *********************************************/
@media screen and (min-width: 767.98px) {

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media screen and (max-width: 1399.98px) {}