<div class="container py-5 my-5">
    <div class="row g-3 text-center d-flex justify-content-center">
        <div class="col-12 col-md-4 p-5">
            <div class="box"><a href="javascript:void(0);" routerLink="/news/science" class="text-decoration-none"><img src="../../../assets/images/science-news.jpg" alt="news-info."></a></div>
        </div>
        <div class="col-12 col-md-4 p-5">
            <div class="box"><a href="javascript:void(0);" routerLink="/news/general" class=""><img src="assets/images/general-news.jpg" alt="news-info."></a></div>
        </div>
        <div class="col-12 col-md-4 p-5">
            <div class="box"><a href="javascript:void(0);" routerLink="/news/technology" class=""><img src="../../../assets/images/tech-news.jpg" alt="news-info."></a></div>
        </div>
        <div class="col-12 col-md-4 p-5">
            <div class="box"><a href="javascript:void(0);" [routerLink]="['/news/business']" class=""><img src="assets/images/business-news.jpg" alt="news-info."></a></div>
        </div>
        <div class="col-12 col-md-4 p-5">
            <div class="box"><a href="javascript:void(0);" [routerLink]="['/news/entertainment']" class=""><img src="assets/images/entertainment-news.jpg" alt="news-info."></a></div>
        </div>
        <div class="col-12 col-md-4 p-5">
            <div class="box"><a href="javascript:void(0);" [routerLink]="['/news/sports']" class=""><img src="assets/images/sports-news.jpg" alt="news-info."></a></div>
        </div>
        <div class="col-12 col-md-4 p-5">
            <div class="box"><a href="javascript:void(0);" [routerLink]="['/news/health']" class=""><img src="assets/images/health-news.jpg" alt="news-info."></a></div>
        </div>
    </div>
</div>
<!-- horizontal scrolling --><!-- horizontal scrolling --><!-- horizontal scrolling --><!-- horizontal scrolling --><!-- horizontal scrolling --><!-- horizontal scrolling -->