<!-- about-banner ------- -->
<div class="about-banner pb-5">
    <div class="container-fluid about-bg py-5">
        <div class="container py-5">
            <div class="row">
                <div class="d-flex align-items-center justify-content-center">
                    <p class="display-3 fw-600 text-capitalize text-white">about</p>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="index.html" class="text-decoration-none link-light">Home</a></li>
                        <li class="breadcrumb-item"><a href="course.html" class="text-decoration-none link-light">Courses</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-decoration-none text-warning">about</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- about-banner--end-- --- -->
<!-- --------about start---------------- -->
<div class="about py-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row gx-5 flex-wrap">
                <div class="col-lg-6 position-relative pt-5 ps-5 overflow-hidden" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                    <img src="assets/images/about-1.jpg" alt="about-1" class="w-100">
                    <img src="assets/images/about-2.jpg" alt="about-2" class="position-absolute top-0 start-0 bg-white p-3">
                </div>
                <div class="col-lg-6 mt-5 mt-md-0" data-aos-once="false" data-aos="fade-up" data-aos-delay="250">
                    <h6 class="h6 text-uppercase text-warning fw-600"> about us </h6>
                    <h1 class="text-capitalize fw-bolder display-6"> We Help Students To Pass Test & Get A License On The First Try </h1>
                    <p class="text-light2 mt-4">
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                    </p>
                    <p class="text-light2">
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                    </p>
                    <div class="row mt-5">
                        <div class="col-6 d-flex"><i class="fa fa-check text-warning me-2 fs-4"></i>
                            <p class="text-light2 text-capitalize">Fully Licensed</p>
                        </div>
                        <div class="col-6 d-flex"><i class="fa fa-check text-warning me-2 fs-4"></i>
                            <p class="text-light2 text-capitalize">Online Tracking</p>
                        </div>
                        <div class="col-6 d-flex"><i class="fa fa-check text-warning me-2 fs-4"></i>
                            <p class="text-light2 text-capitalize">Afordable Fee</p>
                        </div>
                        <div class="col-6 d-flex"><i class="fa fa-check text-warning me-2 fs-4"></i>
                            <p class="text-light2 text-capitalize">Best Trainers</p>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-6 position-relative"><a href="index.html" class="position-absolute text-decoration-none font-10 px-4 py-2 px-md-5 py-md-3 border-0 text transparent text-capitalize">read more</a></div>
                        <div class="col-6"><a href="tel:+917532046645" target="_blank" class="font-10 px-3 py-2 py-md-3 rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none"><i class="fa fa-phone-alt"> &nbsp; &nbsp;</i>+91 75320 46645</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------about--end---------------- -->
<!-- --------mmet the team starts---------------- -->
<div class="meet-team py-5">
    <div class="container-fluid">
        <div class="container">
            <div class="row mb-5" data-aos-once="false" data-aos="fade-up" data-aos-easing="ease">
                <div class="col-lg-7 text-lg-center m-auto">
                    <h6 class="text-uppercase fw-600 text-warning"> meet the team </h6>
                    <h1 class="text-capitalize fw-bold">We Have Great Experience Of Driving</h1>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6" data-aos-once="false" data-aos="fade-up" data-aos-delay="50">
                    <div class="trainer text-center border-run">
                        <div class="position-relative">
                            <img class="img-fluid" src="assets/images/team-1.jpg" alt="trainer">
                            <div class="position-absolute trainer-bg">
                                <div class="z-index-20 justify-content-center align-items-center d-flex top-50 position-relative gap-2">
                                    <a href="https://www.facebook.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-facebook-f">&nbsp;</i></a>
                                    <a href="https://www.twitter.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 bg-light">
                            <div class="text-uppercase h5 m-0">deepak Gola </div>
                            <span class="text-muted">trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos-once="false" data-aos="fade-up" data-aos-delay="150">
                    <div class="trainer text-center border-run">
                        <div class="position-relative">
                            <img class="img-fluid" src="assets/images/team-2.jpg" alt="trainer">
                            <div class="position-absolute trainer-bg">
                                <div class="z-index-20 justify-content-center align-items-center d-flex top-50 position-relative gap-2">
                                    <a href="https://www.facebook.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-facebook-f">&nbsp;</i></a>
                                    <a href="https://www.twitter.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 bg-light">
                            <div class="text-uppercase h5 m-0">Gobi bisht </div>
                            <span class="text-muted">trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos-once="false" data-aos="fade-up" data-aos-delay="250">
                    <div class="trainer text-center border-run">
                        <div class="position-relative">
                            <img class="img-fluid" src="assets/images/team-3.jpg" alt="trainer">
                            <div class="position-absolute trainer-bg">
                                <div class="z-index-20 justify-content-center align-items-center d-flex top-50 position-relative gap-2">
                                    <a href="https://www.facebook.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-facebook-f">&nbsp;</i></a>
                                    <a href="https://www.twitter.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 bg-light">
                            <div class="text-uppercase h5 m-0">rohit bisht </div>
                            <span class="text-muted">trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos-once="false" data-aos="fade-up" data-aos-delay="300">
                    <div class="trainer text-center border-run">
                        <div class="position-relative">
                            <img class="img-fluid" src="assets/images/team-4.jpg" alt="trainer">
                            <div class="position-absolute trainer-bg">
                                <div class="z-index-20 justify-content-center align-items-center d-flex top-50 position-relative gap-2">
                                    <a href="https://www.facebook.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-facebook-f">&nbsp;</i></a>
                                    <a href="https://www.twitter.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com" target="_blank" class="p-2 d-flex justify-content-center align-items-center rounded-0 border-6 btn btn-outline-warning text-capitalize text-decoration-none">&nbsp;<i class="fa-brands fa-linkedin-in">&nbsp;</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="p-4 bg-light">
                            <div class="text-uppercase h5 m-0">mohit gola </div>
                            <span class="text-muted">trainer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------mmet the team ends---------------- -->